li a {
   font-size:20px;
   color: Teal ;
   line-height: 64px;
   padding: 0 24px;
}

body {
    color : white ;
    background: white url("images/grey2.jpg") ;

}
h1 {
  text-align: center;
  color : Teal
}
